
<MudNavMenu Class="mudblazor-navmenu">
    <div class="docs-nav-fader"></div>

    <MudNavGroup Title="Menu"
                 Icon="fas fa-bars"
                 ExpandIcon="@Icons.Material.Filled.ExpandMore" Style="margin-top: 40px;">
        <MudNavLink Href="/">Inicio</MudNavLink>
        <MudNavLink Href="/settings">Configurações</MudNavLink>
    </MudNavGroup>
</MudNavMenu>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
